//Variables

$bodyFontFamily: "Maven Pro", sans-serif;
$mainGradient1: #4d0cffda !default;
$mainGradient2: #fc0dd4fb !default;
$strengthGradient1: 40%;
$backgroundMain: url("./../img/city.jpg") !default;
$colorMenuLink: #d9d7df !default;
$colorMenuLinkHover: #ffffff !default;
$colorStartedBtn: #ffffff !default;
$colorMainText: #ffffff !default;
$colorTableDark: #4f4f6f !default;
$colorTableLight: #9fa4af !default;
$colorTableBg: #eeeff2 !default;
$arrowShadow1: 0px 0px 18px rgba(219, 219, 219, 0.658) !default;
$arrowShadow2: 0px 0px 28px rgba(219, 219, 219, 0.911) !default;
$colorPriceTagBg: #fff !default;
$priceTagShadowHover: 0 0 60px 10px rgba(204, 204, 223, 0.7);
$colorPriceBtnHover: #6e45e2 !default;
